@import url('https://fonts.googleapis.com/css2?family=Alkatra&family=Dancing+Script&family=Edu+NSW+ACT+Foundation&family=Montserrat:wght@500&display=swap');
.nav-link:hover{
    background-color: rgb(14, 13, 13);
    color:white
}

#navbar{
    position:sticky;
     top:0px;
      z-index: 1;
}

h1{
    font-family: 'Montserrat';
    font-size: 33px;
    line-height: 45px;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 100%;
}
#btn1{
    border-top-left-radius: 30px;
    padding: 10 5px;
    font-weight: bolder;
    font-size: 18px;
    border: rgb(83, 87, 87) 0.8px solid;
    padding: 10px 0;
    width: 20%;
}
#btn2{
    border-bottom-right-radius: 30px;
    font-weight: bolder;
    font-size: 18px;
    padding: 10px 0;
    border: rgb(83, 87, 87) 0.5px solid;
    width: 20%;
}
